// -------------------------------------------
// VARIABLES
// -------------------------------------------

// COLORS //

$white: #fff
$black: #000

$content-space: 2rem


// Fonts //

=noto-regular
    font-family: 'Noto Sans JP', sans-serif
    font-weight: 400
    font-style: normal
    font-stretch: normal

=noto-light
    font-family: 'Noto Sans JP', sans-serif
    font-weight: 300
    font-style: normal
    font-stretch: normal

=noto-thin
    font-family: 'Noto Sans JP', sans-serif
    font-weight: 100
    font-style: normal
    font-stretch: normal

=noto-bold
    font-family: 'Noto Sans JP', sans-serif
    font-weight: 700
    font-style: normal
    font-stretch: normal

=noto-black
    font-family: 'Noto Sans JP', sans-serif
    font-weight: 900
    font-style: normal
    font-stretch: normal