// -------------------------------------
//  IMPORTS
// -------------------------------------
@import helpers
@import normalize

    
body
    color: $black
    font-size: 16px
    position: static
    max-width: 100%
    line-height: 1.5
    overflow-y: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: antialiased
    overflow-x: hidden
    +noto-light
    padding: 10em


h1, h2, h3, h4, h5, h6
    font-weight: normal
    padding: 0 
    margin: 1.25rem 0 .5rem 0
    line-height: 1.4
    &:first-child
        margin-top: 0
h1
    +noto-bold
    font-size: 3rem
h2
    +noto-regular
    font-size: 2rem
h3
    +noto-regular
    font-size: 1.5rem
p
    +noto-light
    font-size: 1rem
    text-align: justify
.site-title
    font-size: 7.5em
    +noto-bold
    display: inline-block
    margin: 0 auto .5em auto

.content
    width: 100%
    max-width: 100%
    position: relative
.section
    margin-bottom: 5rem

.box-style
    border: .75rem solid black
    padding: 1rem 2rem
    box-shadow: -.5rem .5rem

.text-box
    max-width: 32em

.right
    float: right
    &.box-style
        box-shadow: .5rem .5rem